  $mainColor: rgb(0, 29, 61);
  $secondColor: #dc562e;

  $mainColor-lighter: rgb(0, 53, 102);
  $secondColor-lighter: rgb(252, 120, 2);

  $mainColor-lightest: #00509d;
  $secondColor-lightest: #fdc500;

  $text-dark: rgb(0, 8, 20);
  $text-light: #ededed;



