.btn{
    background-color: $mainColor;
    border: none;
    border-radius: 3px;
    color: $text-light;
    display: inline-block; /*to use padding*/
    font-weight: 300;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
    outline: none;
    padding: .45rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    

    @mixin atMedium{ 
        box-shadow: rgba(0, 8, 20, .4) .25rem .45rem .375rem;
        padding: .75rem 1.2rem;
        transition: all .3s ease-in-out;

        &:hover{
            box-shadow: rgba(0, 8, 20, .5) .65rem .75rem .375rem;
            transform: scale(1.1);
        }

        &:focus{
            box-shadow: rgba(0, 8, 20, .4) .25rem .45rem .375rem;
            transform: scale(1);
        }
    } 


    &--orange {
        background-color: $secondColor;
    }

    &--large {
        font-size: .9rem;
        /*not needed as it's default then*/
        padding: .5rem 1.2rem;

        @mixin atMedium {
            font-size: 1.25rem;
            padding: .7rem 1.2rem;
        }
    }
}