.primary-nav{



    @mixin atLarge {
        padding-top: 0;
    }


    &--pull-right {
    
        @mixin atMedium {
            float: right;
        }
    }

    ul{
        clear: both;
        height: 100%;
    }
    
    li{
        list-style: none;
        
        

        a{
            background-color: rgba(0, 29, 61, 1);
            border: solid $secondColor 1px;
            border-radius: 2px;
            color: $text-light;
            display: block;
            font-size: .8rem;
            font-weight: 300;
            text-decoration: none;
            transition: all .5s;
            padding: .5rem 1rem;

            @mixin atLarge{
                font-size: 1rem;
                padding: 1.27rem 1rem;
                background-color: transparent;
                border: none;

                &.is-current-link{
                    color: $secondColor-lighter;
                }
                
            }
        }
        


        &:hover a{
            color: $secondColor;
        }
    }
}