.section-title{
    color: $secondColor;
    background-image: linear-gradient(160deg, $secondColor, $secondColor-lightest);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    


    @mixin atMedium {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    @mixin atLarge{
        font-size: 2.55rem;
        font-weight: 300;
    }

    &--blue {
        color: $mainColor;
    }

    &--testimonials{
        margin-bottom: 7rem;
    }

    &--contact-details{
        @mixin atLarge{
          margin-bottom: 4rem;  
        }
    }
}